.container
  article.feedback__head
    .row.middle-xs.center-xs
      .col-xs-12.col-md-12
        div.article-head.wow.fadeInDown.ask-me data-wow-delay="0.5s"
          | Есть вопросы? Напишите нам
article.feedback__background
  .container
    form.feedback action="#"
      .row.middle-xs.center-xs
        .col-xs-12.col-md-6
          .row.center-xs.middle-xs
            .col-xs-12.col-md-12
              input required="" type="text" /
              label alt=("Ваше имя") for="" placeholder=("Как вас зовут?")
            .col-xs-12.col-md-12
              input required="" type="number" /
              label alt=("Номер телефона") for="" placeholder=("Ваш контактный телефон")
        .col-xs-12.col-md-6
          textarea required=""
          label alt=("Ваш комментарий") for="" placeholder=("Комментарии или вопросы")
      .row.middle-xs
        .col-xs-12.col-md-12
        	section.feedback__checkbox
        		p Записаться на прием
        		input.feedback__checkbox type="checkbox" id="feedback-show-date"
        		label.feedback__checkbox__label for="feedback-show-date"
        		.feedback__checkbox__date
                  input.datetimepicker type="text"


        .col-xs-12.col-md-12
          button type="sumbit"  Отправить
