doctype html
/! [if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"
/! [if IE 7] <html class="no-js lt-ie9 lt-ie8"
/! [if IE 8] <html class="no-js lt-ie9"
/! [if gt IE 8]><!
html.no-js
  /! <![endif]
  == Slim::Template.new("_head.slim").render
  body
    #menu
    #panel
      == Slim::Template.new("_header.slim").render
      section.consult
        .container
          .row.middle-xs.center-xs
            .col-xs-9.col-md-8
              h2.consult__text Изготовление зубов на заказ за 10 дней
          .row.middle-xs.center-xs
            .col-xs-9.col-md-4
              a.button.consult__button.wow.pulse.infinite data-wow-delay="0.1s" href="#" Консультация
      section.advantages
        .container
          .row.middle-xs.center-xs
            .col-xs-12.col-md-12
                h2.article-head.wow.fadeInDown.wow.fadeInDown Преимущества
                .row.middle-xs.start-xs
                  .col-xs-12.col-sm-6.col-md-4
                    .advantages__item.wow.flipInX
                      figure.advantages__item__icon.icon-specialist
                      .advantages__item__content
                        h4.advantages__item__content__head Работают только специалисты
                        p.advantages__item__content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .col-xs-12.col-sm-6.col-md-4
                    .advantages__item.wow.flipInX data-wow-delay="0.1s"
                      figure.advantages__item__icon.icon-tool
                      .advantages__item__content
                        h4.advantages__item__content__head Современное оборудование
                        p.advantages__item__content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .col-xs-12.col-sm-6.col-md-4
                    .advantages__item.wow.flipInX data-wow-delay="0.2s"
                      figure.advantages__item__icon.icon-happy
                      .advantages__item__content
                        h4.advantages__item__content__head Доброжелатльное отношение
                        p.advantages__item__content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .col-xs-12.col-sm-6.col-md-4
                    .advantages__item.wow.flipInX data-wow-delay="0.3s"
                      figure.advantages__item__icon.icon-coins
                      .advantages__item__content
                        h4.advantages__item__content__head Низкие цены
                        p.advantages__item__content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .col-xs-12.col-sm-6.col-md-4
                    .advantages__item.wow.flipInX data-wow-delay="0.4s"
                      figure.advantages__item__icon.icon-working
                      .advantages__item__content
                        h4.advantages__item__content__head Стаж работы 20 лет
                        p.advantages__item__content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .col-xs-12.col-sm-6.col-md-4
                    .advantages__item.wow.flipInX data-wow-delay="0.5s"
                      figure.advantages__item__icon.icon-garant
                      .advantages__item__content
                        h4.advantages__item__content__head Гарантия 10 лет
                        p.advantages__item__content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      article.service
        .container
          .row.middle-xs.center-xs
            .col-xs-12.col-md-12
                h2.article-head.wow.fadeInDown Наши услуги
                .row.middle-xs.center-xs
                  .col-xs.col-md-3
                    a.service__item__link.wow.zoomIn href="#"
                      figure.service__item
                        img.service__item__img src="images/service/install.jpg"
                        span.service__item__background
                          span.service__item__category.category--surg Хирургия
                          .button.service__item__button Установка виниров
                          span.icon-ruble
                            section.service__item__summ от 2500 руб.
                  .col-xs.col-md-3
                    a.service__item__link.wow.zoomIn data-wow-delay="0.1s" href="#"
                      figure.service__item
                        img.service__item__img src="images/service/gum.jpg"
                        span.service__item__background
                          span.service__item__category.category--ortho Ортопедия
                          .button.service__item__button Лечение десен
                          span.icon-ruble
                            section.service__item__summ от 3200 руб.
                  .col-xs.col-md-3
                    a.service__item__link.wow.zoomIn data-wow-delay="0.15s" href="#"
                      figure.service__item
                        img.service__item__img src="images/service/white.jpg"
                        span.service__item__background
                          span.service__item__category.category--thera Терапия
                          .button.service__item__button Отбеливание зубов
                          span.icon-ruble
                            section.service__item__summ от 3700 руб.
                  .col-xs.col-md-3
                    a.service__item__link.wow.zoomIn data-wow-delay="0.2s" href="#"
                      figure.service__item
                        img.service__item__img src="images/service/pro.jpg"
                        span.service__item__background
                          span.service__item__category.category--thera Терапия
                          .button.service__item__button Протезирование
                          span.icon-ruble
                            section.service__item__summ от 4000 руб.
                  .col-xs.col-md-3
                    a.service__item__link.wow.zoomIn data-wow-delay="0.1s" href="#"
                      figure.service__item
                        img.service__item__img src="images/service/install.jpg"
                        span.service__item__background
                          span.service__item__category.category--thera Терапия
                          .button.service__item__button Установка виниров
                          span.icon-ruble
                            section.service__item__summ от 2500 руб.
                  .col-xs.col-md-3
                    a.service__item__link.wow.zoomIn data-wow-delay="0.15s" href="#"
                      figure.service__item
                        img.service__item__img src="images/service/gum.jpg"
                        span.service__item__background
                          span.service__item__category.category--surg Хирургия
                          .button.service__item__button Лечение десен
                          span.icon-ruble
                            section.service__item__summ от 3200 руб.
                  .col-xs.col-md-3
                    a.service__item__link.wow.zoomIn data-wow-delay="0.2s" href="#"
                      figure.service__item
                        img.service__item__img src="images/service/white.jpg"
                        span.service__item__background
                          span.service__item__category.category--ortho Ортопедия
                          .button.service__item__button Отбеливание зубов
                          span.icon-ruble
                            section.service__item__summ от 3700 руб.
                  .col-xs.col-md-3
                    a.service__item__link.wow.zoomIn data-wow-delay="0.25s" href="#"
                      figure.service__item
                        img.service__item__img src="images/service/pro.jpg"
                        span.service__item__background
                          span.service__item__category.category--surg Хирургия
                          .button.service__item__button Протезирование
                          span.icon-ruble
                            section.service__item__summ от 4000 руб.
        .service__all.wow.bounceIn data-wow-delay="2.1s"
          .container
            .row.middle-xs.center-xs
              .col-xs-12.col-md-12
                a.service__all-button href="service.html" Посмотреть все услуги
      article.result#result
        .container
          .row.middle-xs.center-xs
            .col-xs-12.col-md-12
                h2.article-head.wow.fadeInDown Наши результаты
                .row.top-xs.center-xs.wow.fadeIn data-wow-duration="0.2s"
                  .col-xs-12.col-md-2
                    .result__count.wow.spincrement 15
                    p.result__count__text лет опыта
                  .col-xs-12.col-md-2
                    .result__count.wow.spincrement 10
                    p.result__count__text лет гарантии
                  .col-xs-12.col-md
                    .result__count.wow.spincrement 130
                    p.result__count__text опытных сотрудников
                  .col-xs-12.col-md
                    .result__count.wow.spincrement 10000
                    p.result__count__text довольных клиентов
                  .col-xs-12.col-md
                    .result__count.wow.spincrement 8000
                    p.result__count__text здоровых улыбок
      .container
        article.review
          .row.middle-xs.center-xs
            a href="#"
              .col-xs-12.col-md-12
                h2.article-head.wow.fadeInDown Отзывы наших клиентов
                .row.middle-xs.center-xs
                  .col-xs-12.col-md-3.wow.fadeIn data-wow-delay="0.1s"
                    figure.review__item
                      img.review__item__img src="images/review/1.jpg"
                    h4.review__item__head Виктория Дмитриева
                    span.icon-message.review__item__ico
                    p.review__item__content Недавно решила купить себе стенку в спальню. Обратилась в вашу фирму по совету своей сестры, которая очень настойчиво меня к вам направляла, говоря, что
                  .col-xs-12.col-md-3.wow.fadeIn data-wow-delay="0.15s"
                    figure.review__item
                      img.review__item__img src="images/review/2.jpg"
                    h4.review__item__head Макс Стопятсотович
                    span.icon-message.review__item__ico
                    p.review__item__content Недавно решила купить себе стенку в спальню. Обратилась в вашу фирму по совету своей сестры, которая очень настойчиво меня к вам направляла, говоря, что
                  .col-xs-12.col-md-3.wow.fadeIn data-wow-delay="0.2s"
                    figure.review__item
                      img.review__item__img src="images/review/3.jpg"
                    h4.review__item__head Виктор Семенович
                    span.icon-message.review__item__ico
                    p.review__item__content Недавно решила купить себе стенку в спальню. Обратилась в вашу фирму по совету своей сестры, которая очень настойчиво меня к вам направляла, говоря, что
                  .col-xs-12.col-md-3.wow.fadeIn data-wow-delay="0.25s"
                    figure.review__item
                      img.review__item__img src="images/review/4.jpg"
                    h4.review__item__head Алексей Петрович
                    span.icon-message.review__item__ico
                    p.review__item__content Недавно решила купить себе стенку в спальню. Обратилась в вашу фирму по совету своей сестры, которая очень настойчиво меня к вам направляла, говоря, что
      article.cert
        .container
          .row.middle-xs.center-xs
            .col-xs-12.col-md-12
              h2.article-head.wow.fadeInDown Лицензии и сертификаты
            .row.middle-xs.center-xs
              .col-xs-12.col-sm-6.col-md-3
                figure.cert__figure.wow.flipInX data-wow-delay="0.2s"
                  img.cert__figure__img src="images/cert/cert1.jpg"
              .col-xs-12.col-sm-6.col-md-3
                figure.cert__figure.wow.flipInX data-wow-delay="0.3s"
                  img.cert__figure__img src="images/cert/cert2.jpg"
              .col-xs-12.col-sm-6.col-md-3
                figure.cert__figure.wow.flipInX data-wow-delay="0.4s"
                  img.cert__figure__img src="images/cert/cert3.jpg"
              .col-xs-12.col-sm-6.col-md-3
                figure.cert__figure.wow.flipInX data-wow-delay="0.5s"
                  img.cert__figure__img src="images/cert/cert4.jpg"
      == Slim::Template.new("_seo-block.slim").render
      == Slim::Template.new("_feedback.slim").render
      == Slim::Template.new("_footer.slim").render



