== Slim::Template.new("_header.slim").render
section.consult
	.container
		.row.middle-xs.center-xs
			.col-xs-11
				h1.consult__text Установи виниры прямо сейчас
		.row.middle-xs.center-xs
			.col-xs-9.col-md-4
				a.button.consult__button.wow.pulse data-wow-duration="2s" data-wow-delay="0.5s" data-wow-iteration="3" href="#" Консультация
		.row.middle-xs.center-xs
			.col-xs-9.col-md-4
				section.consult__summ от 2500 руб.
article.service-info
	.container
		.row.middle-xs.center-xs
			.col-xs-12.col-md-12
				h2.article-head.wow.fadeInDown Установка виниров
		.row
			.col-xs-3
				.left-menu
					ul.left-menu__list
						li.left-menu__list__item
							a.left-menu__list__item__link href="#" Ссылка 1
						li.left-menu__list__item
							a.left-menu__list__item__link href="#" Ссылка 2
						li.left-menu__list__item
							a.left-menu__list__item__link href="#" Ссылка 3
						li.left-menu__list__item
							a.left-menu__list__item__link href="#" Ссылка 4
						li.left-menu__list__item
							a.left-menu__list__item__link href="#" Ссылка 5
				.menu__bottom-block#reviews
					| <a class="flamp-widget" href="http://ekaterinburg.flamp.ru/firm/prioritet_ooo_stomatologicheskaya_klinika-1267166676634699"  data-flamp-widget-type="big" data-flamp-widget-count="3" data-flamp-widget-orientation="portrait" data-flamp-widget-id="1267166676634699">Отзывы о нас на Флампе</a><script>!function(d,s){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);js.async=1;js.src="//widget.flamp.ru/loader.js";fjs.parentNode.insertBefore(js,fjs);}(document,"script");</script>
					| <style>iframe {max-width: 100%!important;}</style>
			.col-xs-9
				p.seo-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.price-item
				  .price-item__title
				    .row.middle-xs
				      .col-xs-6
				        h3 Консультация и диагностика
				      .col-xs-6.end-xs
				        .price__cost
				                | от 2 000
				                span.rub ₽
				      .price
				        p Первичный осмотр и консультация
				        ul.blue-bullets
				          li Осмотр полости рта с подробной консультацией и постановкой диагноза
				          li Рентгенологические панорамный и прицельные снимки
				          li Консультация узких специалистов (терапевта, ортопеда, хирурга, пародонтолога)
				          li Составление плана лечения
				          li Составление сметы лечения
				      .another-price
				        ul.dots
				          li
				            .dots__title
				              span Консультация (повторная)
				            .dots__value
				              | бесплатно
				          li
				            .dots__title
				              span Компьютерное моделирование улыбки Dental Smile Design
				            .dots__value
				              | бесплатно
				          li
				            .dots__title
				              span 3D-моделирование
				            .dots__value
				              | 10 000
				              span.rub ₽
				          li
				            .dots__title
				              span Компьютерная томография (1 челюсть)
				            .dots__value
				              | 4 000
				              span.rub ₽
				          li
				            .dots__title
				              span Томография нижнечелюстного сустава
				            .dots__value
				              | 8 000
				              span.rub ₽
				      ul.features
				        li
				          a href="/patsientam/lechenie-po-dms/"  Лечим зубы по ДМС
				        li
				          a href="/patsientam/lechenie-v-kredit/"  Оказываем услуги в кредит
				== Slim::Template.new("_options.slim").render
				.row.center-xs
					.col-xs-12.col-md-12
						h2.article-head.wow.fadeInDown Установка виниров
				.row.middle-xs
					.col-xs-12
						p.seo-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
== Slim::Template.new("_feedback.slim").render
== Slim::Template.new("_footer.slim").render
